h1{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
#chart {
    background-color: lightgray;
    width: 800px;
}

rect.Winner {
    fill:cadetblue;
    fill-opacity: 0.8;
    stroke: cadetblue;
    stroke-width: 2px;
}